@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: url(AtkinsonHyperlegible-Regular.ttf) format('truetype');
}
* {
	font-family: 'Atkinson Hyperlegible';
	color: white;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
html {
	background-color: #000096;
}
body {
	margin: 0;
	max-width: 1096px;
}
h1 {
	font-size: 40pt;
	padding: 16px;
	margin: 0;
	border-bottom: 1px solid white;
}
h2 {
	font-size: 36pt;
	padding: 16px;
	margin: 0;
}
table {
	display: block;
}
tbody {
	display: flex;
	flex-direction: column;
	width: 100%;
}
tr {
	display: flex;
	padding: 0px 16px;
	gap: 8px;
}
tr:nth-child(even) {
	background-color: #00006F;
}
tr>:nth-child(1) {
	flex: 0 0 96px;
}
tr>:nth-child(2) {
	flex-grow: 1;
}
tr>:nth-child(3) {
	flex: 0 0 96px;
}			th {
	text-align: left;
	font-size: 16pt;
}
td {
	font-size: 40px;
}
